<h1>Set up your interest</h1>

<form method="post" action="/user/:userid/interests">
    <div>
        <label>Design</label>
        <input type="checkbox" name="design" />
    </div>
    <div>
        <label>Tech</label>
        <input type="checkbox" name="tech" />
    </div>
  <div>
        <label>React</label>
        <input type="checkbox" name="react" />
    </div>
  <div>
        <label>Javascript</label>
        <input type="checkbox" name="javascript" />
    </div>

    <div>
        <input type="submit" value="Create My Interest" />
    </div>
</form>